:root {
  scroll-behavior: smooth;
}

body {
  /* background: #f6f9ff; */
  color: #000000;
}

a {
  color: #4154f1;
  text-decoration: none !important;
}

a:hover {
  color: #717ff5;
  text-decoration: none !important;
}
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 300px;
  }
}


/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}
.agent-img {
  width: 100% !important;
  max-height: 100px !important;
  border-radius: 10%;
  object-fit: cover;
  object-position: top;
  background-color: rgb(239, 239, 239);
}

@media (min-width: 768px) {
  .agent-img {
    max-height: 68px !important;
  }
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}

.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}

.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}

.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}

.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #4154f1;
}

.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}

.breadcrumb a {
  color: #899bbd;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}

.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}

/* Borde#2a88ff Tabs */
.nav-tabs-borde#2a88ff {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-borde#2a88ff .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-borde#2a88ff .nav-link:hover,
.nav-tabs-borde#2a88ff .nav-link:focus {
  color: #4154f1;
}

.nav-tabs-borde#2a88ff .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

/* @media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
} */

.logo img {
  max-height: 96px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 800;
  color: #012970;
}
.btn-danger{
  background-color: #2a88ff !important;
  border-color:#2a88ff !important ;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background-color: #2a88ff !important;
  border-color:#2a88ff !important ;
}
.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #012970;
}

.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}

.header .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.header .search-form button i {
  color: #012970;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #012970;
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: #012970;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .messages {
  inset: 8px -15px auto auto !important;
}

.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages .message-item a {
  display: flex;
}

.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}


@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link{
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  transition: 0.3;
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link.active {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #4154f1;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #000000;
}
.sidebar-nav .nav-link.nav-link.active i {
  font-size: 16px;
  margin-right: 10px;
  color: #4154f1;
}

.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: #4154f1;
  background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
  color: #4154f1;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}
.form-check-input:checked {
  background-color: #000000
    /*ff6200*/
    !important;
  border-color: #000000
    /*ff6200*/
    !important;
}

.form-check-input {
  height: 1.4em;
  width: 1.4em;
}

.form-check-label {
  margin-left: 10px;
  margin-top: 4px;
}
.form-select,
.form-control {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* margin-top: 0.4rem;
  margin-bottom: 0.7rem; */
}

.form-select:focus,
.form-control:focus {
  box-shadow: none !important;
  border-color: black !important;
}

label {
  font-weight: 400;
}

.posss{
  position: sticky;
  bottom: 0 !important;
  right: 0 !important;
  z-index: 99;
}
.modal {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6) !important;
  display: block !important;
  z-index: 99999999;
}

.modal-main {
  position: absolute;
  background: white;
  width: 900px;
  height: auto;
  overflow: scroll;
  top: 50%;
  border-radius: 10px !important;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-main2 {
  position: absolute;
  background: white;
  width: 450px;
  height: auto;
  overflow: scroll;
  top: 50%;
  border-radius: 10px !important;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-title{
  display: inline-flex;
  line-height: 2rem !important;
  font-weight: 800;
  margin-bottom: 10px;
}
/* .main-title:before {
  background-color: #2a88ff;
  width: 10px;
  height: 33px;
  margin-right: 0.2em;
  content: "";
} */
.text-mine{
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.text-mine2{
  color: #ffd042;
  text-shadow: 1px 1px 1px #000000;
  font-weight: 500;
}

.condocard-img-top{
  width: 100%;
  max-height: 18rem;
  height: 250px !important;
  object-fit: cover;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.cardd-title{
  font-size: 1.3rem;
  font-weight: 800;
}

.cardd-subtitle{
  font-size: 1rem;
  font-weight: 600;
  color: #2a88ff;
}

.card-address{
  font-size: 1rem;
}
.abs1{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffd042;
  border-top-left-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: 0.85rem;
}
.abs2{
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  font-size: 0.85rem;
  border-bottom-left-radius: 10px;
}

.grid-cont{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px 8px;
  z-index: 98 !important;
}


.g-item {
  transition: transform 0.5s ease-in-out;
}

.g-item img {
  object-fit: cover;
  object-position: center;
}

.g-item:hover {
  overflow: hidden;
  transform: scale(1.01);
  cursor: pointer;
}

.grid-item1 {
  grid-area: 1/1/4/3;
  height: 410px;
}
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6,
.grid-item7 {
  height: 200px !important;
}

.footer {
  background-color: #ffffff;
  font-size: 14px;
  padding-bottom: 50px;
}
.footer .footer-top {
  padding-top: 50px;
}
.footer .footer-links {
  margin-bottom: 30px;
}
.footer h4 {
  color: black;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}
.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer .footer-links ul a {
  color: black;
  display: inline-block;
  line-height: 1.2rem;
}

.properti_city {
  margin-bottom: 30px;
  position: relative;
}
.properti_city .thumb {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.properti_city .thumb img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 300px;
}
.properti_city .overlay {
  background: linear-gradient(180deg,hsla(0,0%,100%,.01),#1d293e);
  border-radius: 0 0 10px 10px;
  height: 300px !important;
  bottom: 0;
  height: inherit;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
.properti_city .overlay .details {
  bottom: 20px;
  left: 0;
  color: white;
  position: absolute;
  right: 0;
  text-shadow: 0 0 10px #000000;
}
.properti_city .overlay .details h4{
  font-weight: 700;
}
.properti_city .overlay .details p{
  font-size: 0.8rem;
}
.fw-mine{
  font-weight: 800;
}
.accent-line{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.accent-line:before {
  background-color: #2a88ff;
  height: 2px;
  width: 2em;
  margin-right: 0.75em;
  content: "";
}
.accent-line:after {
  width: 2em;
  height: 2px;
  background-color: #2a88ff;
  margin-left: 0.75em;
  content: "";
}
.text-body2 {
  font-size: 16px;
  line-height: 26px;
}
.card-secondary-title{
  font-size: 0.8rem !important;
  margin-top: 0.3rem;
  color: #585858;
}
.navbar-nav .nav-item .nav-link{
  font-weight: 400;
  color: black !important;
}

.fields {
  width: 100%;
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #f1f3fa;
}

.fields:focus {
  outline-color: black !important;
}

.colo-mine {
  color: #443d3d;
}

.fff {
  background-color: rgb(255, 255, 255);
  border-radius: 0.25rem;
  border: 1px solid;
  border-color: #dce0e0;
  padding: 1rem 1rem;
}

.mess {
  padding: 1.5rem 1rem;
}

.sendbtn {
  background-color: #000000;
  /*ff6200*/
  color: white;
  border-radius: 100px;
  border: 1px solid #000000;
  /*ff6200*/
}


.rounded-minetop {
  border-radius: 0 !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.rounded-minetop2 {
  border-radius: 0 !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.sendbtn:hover {
  color: #000000;
  /*ff6200*/
  background-color: white;
  border: 1px solid #000000;
  /*ff6200*/
}

.btn-call {
  background-color: #012970 !important;
  color: #ffffff
    /*ff6200*/
    !important;
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  box-shadow: none !important;
}

.btn-call:hover {
  background-image: linear-gradient(106deg, #012970, #005eff);
}
.side-contact-img {
  width: 60%;
}

.side-fix-contact {
  position: sticky;
  top: 5.5rem;
  right: 0;
  z-index: 99 !important;
}
.rounded-mine {
  border-radius: 10px !important;
}
.minearr {
  width: 18px;
  height: 18px;
}
.breadcrumb {
  list-style: none !important;
}

.breadcrumb li a {
  color: black !important;
  font-weight: 500;
}
.small-text2 {
  font-size: 10px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
}
.w-mine5{
  width: 260px;
}
.autocomplete-results{
  min-width: 260px;
}
.fs-vvsmall{
  font-size: 0.6rem !important;
}
@media (max-width: 800px) {
  .w-mine5 {
    width: 180px;
} 
.logo img {
  max-height: 20px;
  margin-right: 6px;
}
}
.bg-mine {
  background-color: rgb(245, 246, 247);
}
.glass {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
}

.btn-scroll {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  border: none !important;
  color: #000000
    /*ff6200*/
    !important;
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  box-shadow: none !important;
}
.main-cont::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-cont {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  scroll-behavior: smooth;
}
.car-item {
  font-weight: 500;
  color: #000000;
  font-size: 1rem;
  background-color: white !important;
  border-bottom: 4px solid white;
  width: 100%;
  border-radius: 5px;
}

.car-item-active {
  border-bottom: 4px solid #000000;
  background-color: #ffffff !important;
  box-shadow: 0 0.2rem 0.3rem rgb(130 133 133 / 10%) !important;
  color: rgb(0, 0, 0);
}

.car-item:hover {
  border-bottom: 4px solid #000000;
  background-color: #fdffff !important;
  box-shadow: 0 0.2rem 0.3rem rgb(130 133 133 / 18%) !important;
  color: black;
}
.fs-small{
  font-size: 1rem;

}
.heim i::before{
  font-size: 2rem !important;
}
.w-m{
  width: 200px;
}